.sidebar {
    display: flex;
    flex-direction: row;
    height: 100%;
    flex: 0.28;
}

.sidebar__left__icons {
    position: relative;
}

.sidebar___bottom__user__avatar {
    width: 35px !important;
    height: 35px !important;
}

.sidebar__left__icons .tooltiptext {
    visibility: hidden;
    width: 130px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0px;
    left: 70px;
    border-radius: 10px;
    font-weight: bold;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 100;
}

.sidebar___bottom__user {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0px 8px;
    height: 52px;
    font-size: 12px;
    font-weight: 500;
    background-color: #292B2F;
}

.sidebar___bottom__user__info>h3 {
    font-size: 15px;
    line-height: 18px;
    font-weight: 600;
    color: #fff;
}

.sidebar___bottom__user__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 4px;
    color: #dcddde;
}

.sidebar___bottom__user__info>p {
    color: #b9bbbe;
    font-size: 13px;
    font-weight: 400;
}

.sidebar___bottom__user__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}

.sidebar___bottom__user__icon>.MuiSvgIcon-root {
    color: #b9bbbe;
}

.sidebar___bottom__user__icon:hover {
    background-color: #202225;
}

.sidebar___bottom__user__icon:hover .MuiSvgIcon-root {
    color: #dcddde;
}


/* Show the tooltip text when you mouse over the tooltip container */

.sidebar__left__icons:hover .tooltiptext {
    visibility: visible;
}

.sidebar__left {
    display: flex;
    flex: 0.2;
    flex-direction: column;
    background-color: #202225;
    height: 100vh;
    align-items: center;
    padding: 12px 0 0;
    justify-content: space-between;
}

.sidebar__left__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly
}

.sidebar__left__top>hr {
    margin-top: 4px;
    border-color: #36393F;
    width: 50%;
    height: 1px;
}

.sidebar__left__top>img {
    height: 48px;
    width: 48px;
    border-radius: 100px;
    margin: 0px 5px;
    margin-top: 10px;
    cursor: pointer;
    transition: border-radius 0.12s ease-out;
}

.sidebar__left__icons {
    display: flex;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
}

.material__icons {
    /*width: 20px !important;*/
    color: #43B581 !important;
    cursor: pointer !important;
    background-color: #36393F !important;
    border-radius: 100px !important;
    margin: 5px !important;
    margin-bottom: 0px !important;
    transition: all 0.12s ease-out !important;
    padding: 12px !important;
}

.material__icons:hover {
    border-radius: 15px !important;
    background-color: #43B581 !important;
    color: white !important;
}

.sidebar__left__top>img:hover {
    border-radius: 14px;
}

.sidebar__right {
    display: flex;
    flex: 0.8;
    flex-direction: column;
    box-sizing: border-box;
    background-color: #2f3136;
    justify-content: space-evenly;
}

.sidebar__top {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    padding: 8px;
    border-bottom: 2px solid #212328;
}


/*.sidebar__top>input {
    margin: 4px 2px;
    color: rgb(94, 97, 104);
    background-color: rgb(32, 34, 37);
    padding: 8px;
    outline-style: none;
    border: none;
    border-radius: 4px;
    flex: 1;
}*/

.sidebar__bottom {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    flex: 1;
    width: 100%;
}

.sidebar__bottom__friends {
    display: flex;
    box-sizing: border-box;
    overflow-y: scroll;
    flex: 1;
    width: 100%;
    flex-direction: column;
}

.sidebar__bottom__friends::-webkit-scrollbar {
    overflow: hidden;
}

.sidebar__top>Button {
    background-color: rgb(32, 34, 37);
    border: none;
    color: rgb(99, 102, 107);
    padding: 5px 0px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    text-transform: lowercase;
}


/*.blur {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
}

.multiple-filters {
    backdrop-filter: blur(20px) saturate(120%) contrast(200%);
}*/

.sidebar__top>Button>span {
    margin-right: 45px;
}

.sidebar__top>Button>span>p {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.75;
    font-size: 15px;
}

.sidebar__middle {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    margin-top: 8px;
    width: 100%;
    padding: 5px;
}